:root {
  /* Backgrounds */
  --bg-primary: #426275;
  --bg-secondary: #c5e7fd;
  --bg-tertiary: #ffd8ea;
  --bg-quaternary: #f5f3f1;
  --bg-grey: #fbf9f7;
  --bg-white: #ffffff;
  --bg-disabled: #c2c7cc;

  /* Borders */
  --border-primary: #c2c7cc;

  /* Text */
  --txt-primary: #42484c;
  --txt-secondary: #305263;
  --txt-tertiary: #874b6e;
  --txt-disabled: #72787c;

  /* Icons */
  --icon-primary: #380728;
  --icon-secondary: #001e2c;
  --icon-tertiary: #1b1c1c;
}

@theme {
  /* Backgrounds */
  --bg-primary: var(--bg-primary);
  --bg-secondary: var(--bg-secondary);
  --bg-tertiary: var(--bg-tertiary);
  --bg-quaternary: var(--bg-quaternary);
  --bg-grey: var(--bg-grey);
  --bg-white: var(--bg-white);
  --bg-disabled: var(--bg-disabled);

  /* Borders */
  --border-primary: var(--border-primary);

  /* Text */
  --txt-primary: var(--txt-primary);
  --txt-secondary: var(--txt-secondary);
  --txt-tertiary: var(--txt-tertiary);
  --txt-disabled: var(--txt-disabled);

  /* Icons */
  --icon-primary: var(--icon-primary);
  --icon-secondary: var(--icon-secondary);
  --icon-tertiary: var(--icon-tertiary);
}

.dark {
}

@utility bg-* {
  background-color: --value(--bg-*);
}

@utility border-* {
  border-color: --value(--border-*);
}

@utility text-* {
  color: --value(--txt-*);
}

@utility icon-* {
  color: --value(--icon-*);
}
