.home-page {
  width: 100%;
}

.home-section {
  padding: 60px 0;
  width: 100%;

  &.section-tint {
    background-color: var(--bg-quaternary);
  }
}

@media (min-width: 768px) {
  .home-section {
    padding: 72px 0;
  }
}

@media (min-width: 1024px) {
  .home-section {
    padding: 100px 0;
  }
}
